/* general styles*/

body {
    background-color: #f5f8fa;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
    text-align: center;
}

div {
    display: block;
}

ol, ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

p {
    margin: 7px 0 7px 5px;
    display: inline;
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

.top-bar {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    position: fixed;
    height: 46px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
}

.container {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    left: 200px;
    text-align: center;
    max-width: 1500px;
    min-width: 200px;

}

.top-nav, .nav, .nav>li{
    float:left;
    height: 46px;
}

.nav-icon {
    margin-top: 5px;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}

.pull-right {
    display: inline-block;
    float:right;
    text-align: left;
}

.search-input {
    display: block;
    box-sizing: border-box;
    width: 200px;
    height: 32px;
    margin-top: 5px;
    padding: 7px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 21px;
    text-align: center;
    
}

.title {
    color: #1da1f2;
    font-size: 21px;
    margin-top: 14px;
    margin-left: 50px;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50px;
}

.card {
   border: 1px solid #e1e8ed;
   background-color: #fff; 
   position: relative;
   border-radius: 5px;
}

.user-card {
    height: 200px;
    top: 25px;    
}

.card-top {
    background-color: #0083b6;
    border-bottom: 1px solid #e1e8ed;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-top{
    height: 100px;
}

.user-stats {
    margin-left: 10px;
}

.stat-list{
    list-style: none;
    display: table;
    min-width: 100%;
    padding: 0;

}

.stat {
    display: table-cell;
    padding: 0;
}

.stat-label {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: .02em;
    overflow: hidden;
    text-transform: uppercase;
}

.stat-value {
    color: #0084B4;
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-top: 3px;
}

.avatar-container {
    z-index: 1500;
    margin: -50px 10px 10px 10px;
    height: 72px;
    width: 72px;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 7px;
}

.user-avatar {
    z-index: 1500;
    width: 72px;
    height: 72px;
    border-radius: 7px;
    border: 1px solid #fff;
    color: #fff;
}

.user-info{
    position: absolute;
    width: 120px;
    top: 105px;
    left: 105px;
    right: 100px;
}
.user-name {
    font-weight: 700;
    font-size: 18px;
}

.user-handle {
    font-size: 12px;
    color: #66757f;
}

.tweet-card {
    height: 175px;
    top:35px;
    padding-top: 0;
}

.nav-top {
    position: absolute;
    width:100%;
    border-bottom: 1px solid #e1e8ed;
    background-color: #fff;
    height:30px;
    top: 0;

}

.nav-title {
   display: inline-block;
   width:75%;
   text-align: left;
   margin-left: 15px;
   margin-top:5px;
   font-size: 18px;
   color: #66757f;
   position: relative;
}

.tweet-box {
    display: block;
    box-sizing: border-box;
    width: 95%;
    height: 80px;
    margin-top: 40px;
    margin-left: 6px;
    padding: 7px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    background-color: #f5f8fa;
    border: 1px solid #e1e8ed;
    border-radius: 2px;
    text-align: center;

}

.tweet-button {
    padding: 0;
    background-color: #fff;
    margin: 10px 5px 0 5px;
    float: right;
}

.main-content {
    float: left;
    top: 25px;
    left: 25px;
    width: 550px;
    margin-top: 25px;
    margin-left: 0px;
    padding: 0;
    position: relative;
}

.stream, .stream-container, .stream-items {
    position: relative;
    list-style: none;
}


ol .stream-items{
    padding: 0;
}

.stream-item {
    border-top: 1px solid #e1e8ed;
    padding-left: 0px;
    background: #fff;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    width: 488;
    padding: 5px;
    vertical-align: top;
}

.stream-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.stream-item:hover{
    background-color: #f5f8fa;
}


.tweet-loader {
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tweet-avatar {
    text-align: left;
    position: relative;
    top: 5px;
    margin-left: 2px; 
    border: 1px solid #e1e8ed;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.fullname {
    margin-left: 10px;
    font-weight: bold;
    color: #292f33;
}

.handle, .time {
    font-size: 13px;
    color: #8899a6;
}
.fullname, .handle, .time {
    position: relative;
    top: -30px;
    display: inline-block;
}

.tweet-text {
    position: relative;
    left: 57px;
    top: -25px;
    
}
